/*body {
    font-family: helvetica, courier new;
    position: relative;
  }*/

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: helvetica, courier new;
    
    font-weight: bold;
}
 
/*#slideshowthingie {
	position:absolute;
	visibility:visible;
    height: 100%;
    width:100%;
    background-color: grey;
}*/
#showme {
	visibility: hidden;
	background-color: #f9f2ec;
	width: 100%;
	height: 70px;
	position: fixed;
	top:20px;
	left:0;
	z-index: 10;
	text-align: center;
	margin: 0;
	padding: 0;
	font-variant-caps: small-caps;
}

.slides {
	display:none;
	margin-left: auto;
	margin-right: auto;
}

#slideshow {
	overflow: hidden;
	align-content: center;
}

#slideshow img {
	animation: kenburns 40s infinite;
}

@keyframes kenburns {
    0% {
      opacity: 0;
      transform: scale3d(1.2,1.2,1.2)
    }
    5% {
      opacity: 1;
      /*transform: scale3d(2,2,2);*/
    }
    95% {
        /*transform: scale3d(1.5, 1.5, 1.5) translate3d(-190px, -120px, 0px);*/
        transform:scale3d(1.1,1.1,1.1);
        animation-timing-function: ease-in;
        opacity: 1;
    }
    100% {
    	transform: scale3d(1,1,1);
        /*transform: scale3d(2, 2, 2) translate3d(-170px, -100px, 0px);*/
        opacity: 0;
    }
}

#therealshow {
	top:0px;
	position:relative;
    /*padding: 0 0 100px;*/
}

#thirdA,#thirdB,#thirdC {
	/*background-color: red;*/
	position: relative;
	width:33.33%;
	height:100%;
	float: left;
	display: block;
}

#imgs,#imgwood,#imgdraw,#imgclimb,#imgfun,#imgpage {
	/*width:100%;*/
	width:100%;
	/*float:left;*/
	/*height:auto;*/
	display: block;
	overflow:hidden;
}

div.flavor {
	position:relative;
}

div.name {
	height:30px;
	background-color: grey;
	color:white;
	text-align: center;
	font-variant-caps: small-caps;
	vertical-align: top;
}

div.text {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	box-sizing: border-box;
	visibility: hidden;
	position:absolute;
	bottom:0;
	width:96%;
	padding: 2%;
	font-weight: normal;
	font-size: 13px;
	/*display:block;*/
}

.flavor:hover .text{
	visibility: visible;
	background-color: #ffffffe6;
	width:100%;
	height:auto;
}


#slide {
	max-width: 100%;
	max-height: 100%;
}

#thebigbutton {
	position: relative;
	width:200px;
	height:100%;
	padding: 0px;
	margin: 0px auto;
}

#menubutton {
	position: absolute;
	top:0;
	height: 70px;
	width: 70px;
	right: 0;
}

#help {
	/*background-color: blue;*/
	position: absolute;
	top:0;
	height: 70px;
	width: 70px;
	left: 0;
	/*font-size: 150px;*/
}

#helptext {
	display:block;
	float:none;
	position: relative;
	visibility: hidden;
	padding: 70px 4px 4px 4px;
	font-weight: normal;
	font-variant-caps: normal;
	text-align: left;
}

#menubutton:hover {
	background-color: #ffffffe6;
	width:200px;
	height:230px;
}

#help:hover {
	background-color: #ffffffe6;
	width:200px;
	height:auto;
}

#help:hover > #helptext{
	visibility: inherit;
}

#menulink {
	display:block;
	float:none;
	position: relative;
	visibility: hidden;
	padding: 4px 0 4px 0;
}

#menubutton:hover > #menulink {
	visibility: inherit;
}

#menulink:hover {
	background-color: #cccccc;
}

#menubar {
	position: absolute;
	background-color: black;
	height: 4px;
	width: 40px;
	right: 15px;
	border-radius: 2px;
}



a:link, a:visited { 
    color: inherit;
    text-decoration: none;
    cursor: auto;
}

a:link:active, a:visited:active { 
    color: inherit;
}
#about {
	padding:10px 1% 10px 1%;
	width:98%;
	height: 110px;
	background-color: #f9f2ec;
	position: relative;
	top:-100px;
}
#footb {
	text-align:left;
	clear:both;
	position:relative;
	width:100%;
	/*margin:10px;*/
	font-weight: normal;
	font-variant-caps: normal;
	
	/*margin:10px;*/
	/*background-color: blue*/
}

@media only screen and (max-width:620px) {
   /*For mobile phones: */
  #about {
  	height:80px;
  	top:-30px;
    font-size: 8px;
  }
  div.text {
  	font-size: 9px;
  }

  
}